<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="homeBody">
    
    <br>
    
    <h1 class="homeTitle">Mindful</h1>
    <div class="homeContainer">
    
    <h2>
         be mindful, be active, be positive</h2>
        <a  href="/mindful/new"><button class="start"> Start your journey here</button></a>
    
    </div>
<nav class="homeFooter">
    <%- include('./partials/footer.ejs') %>
</nav>