<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    
    <br>
    <div class="title">
    <h1>What is mindfulness?</h1>
    </div>
    <div class="titleDescription">
    <h2>
        You may have heard that mindfulness — the ability to be fully present in the moment — can have numerous benefits, everything from decreased stress and sadness to increased levels focus and happiness, according to general mindfulness research. Being mindful is one way to truly experience the current moment and integrate that awareness into your everyday life. This app will hopefully help you stay mindful in your day, by encouraging some movement and positive thoughts!</h2>
        <a href="/mindful/new"><button> Start your journey here</button></a>
    </div>
    <br>
    <%- include('./partials/footer.ejs') %>