<header class="newHeader">
    <%- include('./partials/header.ejs') %>
    <h1 class="h1New"> Mindful <img id="newHeaderImg" src="https://images.freeimages.com/images/large-previews/f65/succulent-3-1174084.jpg" alt=""></h1>
    <a href="/mindful/index">Calendar of Events</a>
    
</header>
    
    <br>
    <br>
    
    <div class="newContainer">
    <form method="POST"  action="/mindful">
        <fieldset>
            <label for="date">Date: </label>
            <input id="date" type="text" name="date">
        </fieldset>
        <fieldset>
            <label for="beforeMovement">Mindset before Movement: </label>
            <input id="beforeMovement" type="text" name="beforeMovement" >
        </fieldset>
        <fieldset>
            <label for="water">Water Consumption Goals of the Day in ounces: </label>
            <input id="water" type="number" name="water">
        </fieldset>
        <fieldset>
            <label for="sleep">Amount of sleep in hours: </label>
            <input id="sleep" type="number" name="sleep">
        </fieldset>
        <fieldset>
            <label for="movement">How did you move your body today? </label>
            <input id="movement" type="text" name="movement">
        </fieldset>
        <fieldset>
            <label for="afterMovement">Mindset after Movement: </label>
            <input id="afterMovement" type="text" name="afterMovement">
        </fieldset>
        <fieldset>
            <label for="positiveEvent">What is something positive that happened today? </label> 
            <textarea name="positiveEvent" type="text" id="positiveEvent" cols="30" rows="10" ></textarea>
        </fieldset>
        <fieldset>
            <label for="image">Upload a photo: </label>
            <input id="image" type="url" name="image"  > <br>
        </fieldset>
        <br>
        <button class="newButton">Add Mindful Event!</button>
    </form>
</div>
<footer class="newFooter">
    <%- include('./partials/footer.ejs') %>
</footer>