<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <a href="/mindful/index">List of Events (index)</a>
    <br>
    <br>
    <h1>Add New Mindful Event</h1>
    
    <form method="POST" action="/mindful">
        <fieldset>
            <label for="date">Date: </label>
            <input id="date" type="text" name="date" placeholder="Enter new date">
        </fieldset>
        <fieldset>
            <label for="beforeMovement">Mindset before Movement: </label>
            <input id="beforeMovement" type="text" name="beforeMovement" placeholder="Enter mindset">
        </fieldset>
        <fieldset>
            <label for="water">Water Consumption Goals of the Day: </label>
            <input id="water" type="number" name="water" placeholder="Enter water in ounces">
        </fieldset>
        <fieldset>
            <label for="sleep">Amount of sleep: </label>
            <input id="sleep" type="number" name="sleep" placeholder="Enter sleep in hours">
        </fieldset>
        <fieldset>
            <label for="movement">How did you move your body today?: </label>
            <input id="movement" type="text" name="movement" placeholder="Did you move today?">
        </fieldset>
        <fieldset>
            <label for="afterMovement">Mindset after Movement: </label>
            <input id="afterMovement" type="text" name="afterMovement" placeholder="Enter mindset">
        </fieldset>
        <fieldset>
            <label for="positiveEvent"> </label>
            <textarea name="positiveEvent" type="text" id="positiveEvent" cols="30" rows="10" placeholder="postive" ></textarea>
        </fieldset>
        <br>
        <button>Add Mindful Event!</button>
    </form>
</body>
</html>