<header class="newHeader">
    <%- include('./partials/header.ejs') %>
    <a href="/mindful/index">Calendar of Events (index)</a>
</header>
    
    <br>
    <br>
    <h1 class="h1New"> New Mindful Event</h1>
    <div class="newContainer">
    <form method="POST"  action="/mindful">
        <fieldset>
            <label for="date">Date: </label>
            <input id="date" type="text" name="date" placeholder="Enter new date">
        </fieldset>
        <fieldset>
            <label for="beforeMovement">Mindset before Movement: </label>
            <input id="beforeMovement" type="text" name="beforeMovement" placeholder="Enter mindset">
        </fieldset>
        <fieldset>
            <label for="water">Water Consumption Goals of the Day: </label>
            <input id="water" type="number" name="water" placeholder="Enter water in ounces">
        </fieldset>
        <fieldset>
            <label for="sleep">Amount of sleep: </label>
            <input id="sleep" type="number" name="sleep" placeholder="Enter sleep in hours">
        </fieldset>
        <fieldset>
            <label for="movement">How did you move your body today? </label>
            <input id="movement" type="text" name="movement" placeholder="Did you move today?">
        </fieldset>
        <fieldset>
            <label for="afterMovement">Mindset after Movement: </label>
            <input id="afterMovement" type="text" name="afterMovement" placeholder="Enter mindset">
        </fieldset>
        <fieldset>
            <label for="positiveEvent">What is something positive that happened today? </label> 
            <textarea name="positiveEvent" type="text" id="positiveEvent" cols="30" rows="10" ></textarea>
        </fieldset>
        <fieldset>
            <label for="image">Upload a photo: </label>
            <input id="image" type="url" name="image"  > <br>
        </fieldset>
        <br>
        <button class="newButton">Add Mindful Event!</button>
    </form>
</div>
<footer class="newFooter">
    <%- include('./partials/footer.ejs') %>
</footer>