body{
    background-color: #D8BFD8;
    color:  #808080;
    font-family: "Poppins", sans-serif
}
.homeBody{
    background-image: url("https://images.pexels.com/photos/1445417/pexels-photo-1445417.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.homeContainer{
   position: relative;
  width: 300px;
  border: 1px solid #808080;
  border-radius: 20px;
  padding: 20px;
  margin-left: 50px;
  margin-top: 50px;

}
.homeTitle{
    color: #808080;
    font-size: 60px;
    margin-left: 20px;
   
}
.start{
   margin-left: 65px; 
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #808080;
  background: white;
  color: #808080;
}


ul{
    list-style: none;  
}
a{
    text-decoration: none;
}
.newContainer{
display: flex;
align-items: center;
justify-content: center;
}
.h1New, .h1Edit, .h1Index{
text-align: center;
font-size: 60px;
}
.newHeader, .showHeader, .indexHeader, .editHeader{
    padding: 35px;
    background:  #808080;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    
}
.newFooter, .showFooter, .indexFooter, .homeFooter, .editFooter{
    text-align: center;
}
.newButton, .editSubmit{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #808080;
    color: #808080;
}

.indexContainer{
    /* border: solid 2px #808080; */
    
}
.indexItems {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}
.indexImage{
    height: 200px;
    width: 200px;  
    border-radius: 10px;  
}

.showImage{
    height: 200px;
    width: 200px;  
    border-radius: 10px;
}
.showContainer{
 text-align: center;
}
.showPhoto{
    font-size: 40px;
}
.showEdit, .delete{
    display: flex;
    justify-content: center;
}
.editContainer{
    display: flex;
align-items: center;
justify-content: center;
}


input[type=text], input[type=number], input[type=url]{
    width: 100%;
    background-color: white;
    padding: 12px ;
    margin: 8px 0;
    border: 1px solid #808080;
    border-radius: 5px;
    font-size: 15px;
  }


  textarea {
    width: 100%;
    height: 150px;
    padding: 12px ;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    resize: none;
  }
  

  
 