<header class="signinHeader">
  <%- include('../partials/header.ejs') %>
  <h1 class="h1Signin"> Mindful <img id="newHeaderImg" src="https://images.freeimages.com/images/large-previews/f65/succulent-3-1174084.jpg" alt=""></h1>
  
</header>
    <div class="signinContainer">
    <form action="/users/signin" method="POST">
      <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username">
      </fieldset>
      <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </fieldset>
      <input class="signinButton" type="submit" value="Sign In">
    </form>
</div>
  </body>
</html>